
#black_rectangle{
    /*-fx-background-color: black;*/
    /*-fx-fill: Black;*/
    -fx-fill: Red;
}
#white_rectangle{
    /*-fx-background-color: white;*/
    -fx-fill: White;
}
.grid{
    -fx-background-color: red;
}