
#black_rectangle{
    -fx-background-color: Red;
}
#white_rectangle{
    -fx-background-color: Blue;
}

#coordinates_label{
    -fx-padding: 80 0 0 1;
}
.Label{
    -fx-text-fill: Red;
}
/*.StackPane{*/
/*    -fx-padding: 5 5 5 5;*/
/*}*/
/*.grid{*/
/*    -fx-background-color: red;*/
/*}*/

/*-fx-background-color: black;  !*works for nodes (pane)*!*/
/*-fx-fill: Black;*/         /*works for rectangle*/